:root[dark-theme="true"] {
    @import "ace";
    @import "flatpickr";
}

#app {
    background: inherit;
}

.dne-dark-mode {
    min-width: 65px;

    .sw-icon {
        float: left;
    }
    .sw-field--switch {
        float: left;
        margin: -10px 10px 0 5px;
    }
}
