$dark-bg-color: #111111;
$dark-text-color: #eeeeee;
$dark-border-color: #333333;
$dark-bg-alternate: lighten($dark-bg-color, 5);
$background-excludes: (
    'svg',
    'path',
    '[class^="sw-button"]',
    '.sw-tabs__slider',
    '[class^="ace"]',
    '.sw-cms-block__config-overlay',
    '.sw-cms-slot__preview-overlay',
    '.sw-cms-slot__overlay',
    '.sw-cms-stage-add-block__handle',
    '.sw-cms-stage-add-block',
    '.sw-media-folder-item__folder-thumbnails',
    '.sw-icon',
    '.sw-color-badge',
    '.sw-pagination__list-button',
    '.sw-product-image__context-button',
    '[class^="sw-field__switch-state"]'
);
$border-excludes: (
    '[class^="sw-button"]',
    '.sw-tabs__slider',
    '[class^="ace"]',
    '.sw-page__head-area'
);

@mixin colorOverwrites($bg, $text, $border) {
    $sel: '*';
    @for $i from 1 through length($background-excludes) {
        $sel: selector-nest($sel, '&:not(#{nth($background-excludes, $i)})');

        @if nth($background-excludes, length($background-excludes)) == nth($background-excludes, $i) {
            #{$sel} {
                background-color: $bg!important;
                color: $text!important;
            }
        }
    }

    $sel: '*';
    @for $i from 1 through length($border-excludes) {
        $sel: selector-nest($sel, '&:not(#{nth($border-excludes, $i)})');

        @if nth($border-excludes, length($border-excludes)) == nth($border-excludes, $i) {
            #{$sel} {
                border-color: $border!important;
            }
        }
    }
}

body.is-dark-mode {
    .sw-modal__dialog,
    .sw-popover__wrapper,
    .sw-desktop__content {
        @include colorOverwrites($dark-bg-color, $dark-text-color, $dark-border-color);
    }

    .sw-data-grid {
        .sw-data-grid__body {
            .sw-data-grid__row:nth-child(2n) {
                .sw-data-grid__cell {
                    background-color: $dark-bg-alternate!important;
                    @include colorOverwrites($dark-bg-alternate, $dark-text-color, $dark-border-color);
                }
            }
        }
    }

    .sw-popover__wrapper {
        .sw-data-grid__settings-column-item-controls {
            .sw-button {
                background: transparent;
            }
        }
    }

    .sw-context-menu {
        .sw-context-menu__content:before {
            background-color: $dark-bg-color!important;
            border-color: $dark-border-color!important;
        }
    }

    .sw-text-editor-toolbar-button {
        .sw-text-editor-toolbar-button__children:before {
            background-color: $dark-bg-color!important;
            border-color: $dark-border-color!important;
        }
    }
}

.dne-dark-mode {
    .sw-icon {
        float: left
    }
    .sw-field--switch {
        float: left;
        margin: -10px 10px 0 5px;
    }
}
