@import "~scss/variables";
@import "variables";

body.is-dark-mode {
    #app {
        .sw-tabs {
            .sw-tabs__slider {
                &.has--error {
                    background-color: $color-crimson-500!important;
                }
            }
        }

        .sw-block-field {
            &.has--error {
                .sw-block-field__block {
                    border-color: $color-crimson-500!important;
                }
            }
        }

        .sw-field--checkbox {
            &.has--error {
                .sw-field__checkbox-state {
                    border-color: $color-crimson-500!important;
                }
            }
        }

        .sw-field--radio {
            &.has--error {
                .sw-field__radio-state {
                    border-color: $color-crimson-500!important;
                }
            }
        }

        .sw-select {
            &.has--error {
                .sw-select__label {
                    color: $color-crimson-500!important;
                }

                .sw-select__inner,
                .sw-select__results {
                    border-color: $color-crimson-500!important;
                }
            }
            &:not(.sw-customer-card__tag-select).is--disabled {
                .sw-block-field__block {
                    background-color: $dark-bg-inactive!important;
                    * {
                        background-color: $dark-bg-inactive!important;
                    }
                }
            }
        }

        .sw-field--switch {
            &.has--error {
                .sw-field__switch-state {
                    background-color: $color-crimson-500!important;
                }
            }
        }

        .sw-condition {
            .sw-condition__container {
                &.has--error {
                    border-color: $color-crimson-500!important;
                }
            }
        }

        .sw-condition-type-select {
            &.has--error {
                background-color: $color-crimson-500!important;
            }
        }

        .sw-block-field {
            input:disabled,
            select:disabled,
            textarea:disabled {
                background-color: $dark-bg-inactive!important;
                color: $dark-text-inactive!important;
            }
        }
        .sw-customer-card .sw-customer-card__tag-select.is--disabled input {
            background-color: transparent!important;
        }

        .sw-description-list {
            dd:last-of-type,
            dt:last-of-type {
                border-bottom-color: transparent!important;
            }
        }
    }
}
