$dark-bg-color: #111111;
$dark-text-color: #eeeeee;
$dark-border-color: #333333;
$dark-bg-alternate: lighten($dark-bg-color, 3);
$dark-bg-inactive: lighten($dark-bg-color, 6);
$dark-text-inactive: darken($dark-text-color, 25);
$background-excludes: (
    'svg',
    'path',
    '[class^="sw-button"]',
    '.sw-tabs__slider',
    '[class^="ace"]',
    '.sw-cms-block__config-overlay',
    '.sw-cms-slot__preview-overlay',
    '.sw-cms-slot__overlay',
    '.sw-cms-stage-add-block__handle',
    '.sw-cms-stage-add-block',
    '.sw-media-folder-item__folder-thumbnails',
    '.sw-icon',
    '.sw-color-badge',
    '.sw-pagination__list-button',
    '.sw-product-image__context-button',
    '[class^="sw-field__switch-state"]',
    '.sw-select-result-list',
    '.sw-select-result-list-popover',
    '.sw-colorpicker__previewColor',
    '.sw-colorpicker__colorpicker-selection',
    '.sw-colorpicker__colorpicker-previewColor',
    '.sw-field__error',
    '.sw-avatar',
    '.sw-avatar__initials',
    '.sw-help-text',
    '.sw-text-editor-buttons',
    '.sw-text-editor-toolbar-button',
    '.sw-card__quick-link'
);
$border-excludes: (
    '[class^="sw-button"]',
    '.sw-tabs__slider',
    '[class^="ace"]',
    '.sw-page__head-area',
    '.sw-field__radio-state'
);
